@{
    ViewBag.Title = "GetClanId";
}
<html>
<head>
</head>
<body>
    <h2>Získání id klanu</h2>
    @using (Html.BeginForm("GetClanId", "MunzeeInMap", FormMethod.Post))
    {

        <input type="text" value="monyBf7qp4p64bM9dzGZ8aOVs84wL2vNUBr9JQ6o" name="access_token" /><br />
    <input type="text" value="baanti" name="simple_name" />
        <input type="submit" value="Odeslat" />
    }
</body>
</html>
