@{
    ViewBag.Title = "Get Clan Statistics";
}
<html>
<head>
</head>
<body>
    <h2>Získání statistik klanu pomocí jeho ID</h2>
    @using (Html.BeginForm("GetClanStatistics", "MunzeeInMap", FormMethod.Post))
    {

        <input type="text" value="1n24Nky6jOdDIb66RroQUzYlFlk5rIi3LubX609X" name="access_token" /><br />
        <input type="text" value="955" name="clan_id" />
        <input type="submit" value="Odeslat" />
    }
</body>
</html>
