@{
    ViewBag.Title = "Get Clan Statistics";
}
<html>
<head>
</head>
<body>
    <h2>Získání statistik klanu pomocí jeho ID</h2>
    @using (Html.BeginForm("GetClanStatistics", "MunzeeInMap", FormMethod.Post))
    {

        <input type="text" value="Kg8jHmlcWX7vM5LbosS8nCzwZvB7SfAPwnI3qfwD" name="access_token" /><br />
        <input type="text" value="442" name="clan_id" />
        <input type="submit" value="Odeslat" />
    }
</body>
</html>
