@{
    ViewBag.Title = "Get Captured Types Stats";
}
<html>
<head>
</head>
<body>
    <h2>Získání statistik capture munzee typů hráče</h2>
    @using (Html.BeginForm("GetCapturedTypesStats", "MunzeeInMap", FormMethod.Post))
    {

        <input type="text" value="NzhE598XYrBjokAtvRiqFlAtDGPZ6nw4h3rAsdEn" name="access_token" /><br />
        <input type="text" value="bassnick" name="username" />
        <input type="submit" value="Odeslat" />
    }
</body>
</html>
