@{
    ViewBag.Title = "Get Clan Details";
}
<html>
<head>
</head>
<body>
    <h2>Získání statistik klanu pomocí jeho ID</h2>
    @using (Html.BeginForm("GetClanDetails", "MunzeeInMap", FormMethod.Post))
    {

        <input type="text" value="X9IAwzIrWBaneF64BBSeIwFRJ8am87Jeur1KQQxF" name="access_token" /><br />
        <input type="text" value="955" name="clan_id" />
        <input type="submit" value="Odeslat" />
    }
</body>
</html>
