@{
    ViewBag.Title = "Get Daily Player Stats";
}
<html>
<head>
</head>
<body>
    <h2>Získání denních statistik hráče</h2>
    @using (Html.BeginForm("GetDailyPlayerStats", "MunzeeInMap", FormMethod.Post))
    {

        <input type="text" value="gbq7MiJDEhMrk4ys5lm0FeZIV2H2aUdWtekYAtBA" name="access_token" /><br />
        <input type="text" value="2015-04-02" name="day"/>
        <input type="submit" value="Odeslat" />
    }
</body>
</html>
