@{
    ViewBag.Title = "Get Deployed Types Stats";
}
<html>
<head>
</head>
<body>
    <h2>Získání statistik jednotlivých deploy hráče</h2>
    @using (Html.BeginForm("GetDeployedTypesStats", "MunzeeInMap", FormMethod.Post))
    {

        <input type="text" value="gbq7MiJDEhMrk4ys5lm0FeZIV2H2aUdWtekYAtBA" name="access_token" /><br />
        <input type="text" value="bassnick" name="username" />
        <input type="submit" value="Odeslat" />
    }
</body>
</html>
