
@{
    ViewBag.Title = "Get Munzee By ID";
}
<html>
<head>
</head>
<body>
    <h2>Získání munzee pomocí jejího ID</h2>
    @using (Html.BeginForm("GetMunzeeById", "MunzeeInMap", FormMethod.Post))
    {

        <input type="text" value="Kwpop9uu6QNdBMNyXwDqViBIxRd3HS3vUegBlx88" name="access_token" /><br />
        <input type="text" value="666" name="munzee_id">
        <input type="submit" value="Odeslat" />
    }
</body>
</html>
