@{
    ViewBag.Title = "GetPlayerByName";
}
<html>
<head>
</head>
<body>
<h2>Získání hráče podle nicku</h2>
@using (Html.BeginForm("GetPlayerByName", "MunzeeInMap", FormMethod.Post))
{

    <input type="text" value="1n24Nky6jOdDIb66RroQUzYlFlk5rIi3LubX609X" name="access_token"/><br/>
    <input type="text" value="bassnick" name="username">
    <input type="submit" value="Odeslat"/>
}
</body>
</html>
