@{
    ViewBag.Title = "GetPlayerById";
}
<html>
<head>
</head>
<body>
    <h2>Získání hráče podle IDu</h2>
    @using (Html.BeginForm("GetPlayerById", "MunzeeInMap", FormMethod.Post))
    {

        <input type="text" value="Kg8jHmlcWX7vM5LbosS8nCzwZvB7SfAPwnI3qfwD" name="access_token" /><br />
        <input type="text" value="9" name="user_id">
        <input type="submit" value="Odeslat" />
    }
</body>
</html>
