@{
    ViewBag.Title = "GetPlayerById";
}
<html>
<head>
</head>
<body>
    <h2>Získání hráče podle IDu</h2>
    @using (Html.BeginForm("GetPlayerById", "MunzeeInMap", FormMethod.Post))
    {

        <input type="text" value="wzWcnwIFynKQ8GykEVVzU8V5EyVPeSU3wSRPRvzu" name="access_token" /><br />
        <input type="text" value="666" name="user_id">
        <input type="submit" value="Odeslat" />
    }
</body>
</html>
